In [211]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [212]:
ls

 Volume in drive C is OS
 Volume Serial Number is 9078-B719

 Directory of C:\Users\ritij\OneDrive\Desktop\Assignment All

27-09-2022  00:21    <DIR>          .
27-09-2022  00:21    <DIR>          ..
26-09-2022  22:38    <DIR>          .ipynb_checkpoints
17-09-2022  23:12         5,650,234 50_Startups (1).csv
18-09-2022  00:17            24,716 affairs.csv
26-09-2022  22:06    <DIR>          Assignment 1 to 3
18-06-2022  23:44            61,219 Assignment -2_set_Q1.ipynb
29-06-2022  20:40           133,099 Assignment.ipynb
03-07-2022  17:28             7,659 Assignment2 _set2_Q1.ipynb
08-08-2022  17:00             4,268 Assignment-2-set-3-Q5.ipynb
08-08-2022  17:31             4,226 Assignment-2-set4-Q3.ipynb
08-08-2022  18:56            35,170 Assignment-3-Hypothesis Testing.ipynb
26-09-2022  22:04            74,697 Association Rules Data mining (my_movies).ipynb
26-09-2022  22:01            64,660 Association Rules Data Mining(books).ipynb
18-09-2022  01:08         4,610,348 bank-full (2).csv
26-09-2022  22:46           498,916 book (1).csv
26-09-2022  19:35            46,094 book.csv
26-09-2022  22:47           498,916 book1.csv
08-08-2022  17:41                87 BuyerRatio (1).csv
27-04-2022  15:06             3,529 Cars.csv
08-08-2022  17:40            13,423 Costomer+OrderForm (1).csv
08-08-2022  18:05               525 Cutlets (1).csv
02-09-2022  20:46               198 delivery_time (1).csv
18-09-2022  00:18               228 election_data.csv
14-09-2022  17:53            10,053 glass.csv
08-08-2022  18:32             3,487 LabTAT (1).csv
23-09-2022  17:05           179,873 Logistic Regression.ipynb
17-09-2022  22:34           436,267 Multi-Linear Regression 2.ipynb
17-09-2022  22:54         1,445,854 Multi-LinearRegression-1.ipynb
26-09-2022  19:36               637 my_movies.csv
26-04-2022  14:06               962 Q7.csv
26-04-2022  15:51               502 Q9_a.csv
26-04-2022  15:39             2,252 Q9_b.csv
27-09-2022  00:21           108,897 Rcommendation Engine .ipynb
02-09-2022  20:46               352 salary_data.csv
09-09-2022  22:09           176,380 Simple Linear Regression.ipynb
17-09-2022  20:40           224,041 ToyotaCorolla (2).csv
27-04-2022  15:31             1,172 wc-at.csv
14-09-2022  17:53             4,362 Zoo.csv
              35 File(s)     14,327,303 bytes
               4 Dir(s)  127,336,890,368 bytes free

In [213]:
books_df=pd.read_csv("book1.csv",encoding="latin1")
books

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [214]:
books2= books.iloc[:,1:]
books2

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [242]:
# Sort by User IDs
books2.sort_values(['User.ID'])

      User.ID                                         Book.Title  Book.Rating
2401        8                                              Wings            5
2400        8  The Western way: A practical guide to the West...            5
2399        8                            Ancient Celtic Romances            5
2402        8                                           Truckers            5
2405        8                                  The Art Of Celtia            7
...       ...                                                ...          ...
2395   278854      La crÃƒÂ³nica del PerÃƒÂº (CrÃƒÂ³nicas de AmÃƒÂ©rica)            7
2398   278854  Celtic Mythology (Library of the World's Myths...            8
2393   278854                         A corrente de Trewis Scott            7
2394   278854                                      As valkÃƒÂ­rias            7
2397   278854     A Treasury of Irish Myth, Legend, and Folklore            6

[10000 rows x 3 columns]

In [243]:
books_df.shape

(10000, 4)

In [244]:
books2[books2["User.ID"]==276726]

   User.ID           Book.Title  Book.Rating
0   276726  Classical Mythology            5

In [245]:
# unique uerid 
len(books2["User.ID"].unique())

2182

In [246]:
len(books2["Book.Title"].unique())

9659

In [247]:
books_df["Book.Title"].unique()

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'How to Flirt: A Practical Guide', 'Twilight',
       'Kids Say the Darndest Things'], dtype=object)

In [248]:
# converting long data into wide data using pivot table
books3=books2.pivot_table(index='User.ID',columns='Book.Title',values='Book.Rating').reset_index(drop=True)
books3

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
#imputs thos NaN  with 0 valuse 
books3.fillna(0,inplace=True)
books3

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [250]:
#calculating cosin similarity between users
user_sim= 1-pairwise_distances(books3.values,metric="cosine")
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [251]:
#store the result in a data frame
user_sim2=pd.DataFrame(user_sim)
user_sim2

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [252]:
user_sim.shape

(2182, 2182)

In [253]:
user_sim2

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [254]:
#set the index and columns for user ids
user_sim2.index=books2['User.ID'].unique()
user_sim2.columns=books2['User.ID'].unique()
user_sim2

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [316]:
# Most Similar Users
user_sim2.idxmax(axis=1)[0:]

276726    276726
276729    276729
276736    276736
276737    276737
276744    276744
           ...
162107    162107
162109    162109
162113    162113
162121    162121
162129    162129
Length: 2182, dtype: int64

In [317]:
# extract the books which userId 162107 & 276726 have watched
books2[(books2['User.ID']==162107) | (books2['User.ID']==276726)]

      User.ID               Book.Title  Book.Rating
0      276726      Classical Mythology            5
9987   162107  What's Bred in the Bone            7

In [318]:
# extract the books which userId 276729 & 276726 have watched
books2[(books2['User.ID']==276729) | (books2['User.ID']==276726)]

   User.ID            Book.Title  Book.Rating
0   276726   Classical Mythology            5
1   276729          Clara Callan            3
2   276729  Decision in Normandy            6

In [351]:
def get_reco(UserID):
   
    tem=list(user_sim2.sort_values([UserID],ascending=False).head(100).index)
    #print(tem)
    books_list=[]
    for i in tem:
        books_list=books_list+list(books2[books2["User.ID"]==i]["Book.Title"])
    #print(books_list)
    return set(books_list)-set(books2[books2["User.ID"]==UserID]["Book.Title"])

In [353]:
get_reco(276729)

{'30 Things Everyone Should Know How to Do Before Turning 30',
 '8 Weeks to Optimum Health',
 'A Basic Guide to Archery (An Official U.S. Olympic Committee Sports Series)',
 'A Cup of Light',
 'A Fire in the Earth',
 'A Man of Steel',
 'A New Leash on Death',
 'A Perfect Stranger',
 'Ada or Ardor a Family Chronicle (Vintage International)',
 'Affair',
 'After Caroline',
 "Against All Enemies: Inside America's War on Terror",
 'All Night Long (Harlequin Presents, 2170)',
 'Almost a Princess',
 'Alternatives Games Exercises and Conversations for the Language Classroom (Pilgrims Longman Resource Books)',
 'Always',
 'Anne Frank: The Biography',
 "Anne's Wish (Ballad Romances)",
 'Anonymous Rex: A Detective Story',
 'Artemis Fowl (Artemis Fowl, Book 1)',
 "At the Rancher's Bidding (Harlequin American Romance, No 929)",
 'BY LOVE DIVIDED',
 'Babbitt',
 'Baby Contract (9 Months Later) (Harlequin Superromance, No 690)',
 'Bad Language (Penguin Language &amp; Linguistics)',
 'Bad Or, the Dumbing of America',
 'Bad, Badder, Baddest (Bad Girls)',
 'Bare Bones : A Novel',
 'Beguiled',
 'Beloved',
 'Bite of Death',
 'Bitter Blood',
 'Blankets of Sand: Poems of War and Exile',
 'Blue Highways : A Journey into America',
 'Brainchild',
 'Break It Down (High Risk Books)',
 'Bride On Demand (Harlequin Presents, No 2185)',
 'Cactus Flower',
 "Can't Buy My Love: How Advertising Changes the Way We Think and Feel",
 'Carried Away',
 'Case of Lucy Bending',
 'Caution: This May Be an Advertisement : A Teen Guide to Advertising',
 'Chaos: Making a New Science',
 'Charity',
 'Chieftain',
 'Cinnamon (Shooting Stars)',
 'Citizen of the Galaxy',
 'Coercion: Why We Listen to What \\They\\ Say',
 'Colman',
 'Creativity is forever',
 'Critical Thinking: Tools for Taking Charge of Your Professional and Personal Life',
 'Culture Shock!: Taiwan (Culture Shock)',
 'Daniel  (Return To Calloway Corners) (Harlequin Superromance, No 706)',
 'Dark Side of Love (Superromance)',
 'Dark Star Safari : Overland from Cairo to Capetown',
 'Dazzled',
 'Dear Theo: The Autobiography of Vincent Van Gogh',
 "Deborah'S Son (9 Months Later) (Harlequin Superromance , No 808)",
 'Deep Writing: 7 Principles That Bring Ideas to Life',
 'Do You Take This Rebel? (The Calamity Janes) (Silhouette Special Edition, No 1394)',
 'Dove in the Window (Benni Harper Mystery)',
 'Dreamscapes: Dark Moon',
 'Dumbing Us Down: The Hidden Curriculum of Compulsory Schooling',
 'Eligible Bachelor (Silhouette Romance)',
 'Envy',
 'Essays in Love/a Novel',
 'Even Cowgirls Get the Blues',
 "Evil Breeding: A Dog Lover's Mystery (Dog Lover's Mystery)",
 'Faithless Angel (Love Spell)',
 'Falling Angel (Rita Award)',
 'Fanta C',
 'Farewell Waltz: A Novel',
 'Fat to Firm at Any Age: How You Can Have a Slimmer, Well-Toned Body at Age 30, 40, and Beyond',
 'Flashpoint',
 'Friendly Foods (Gourmet Vegetarian Cuisine)',
 'Fully Engaged (Harlequin Super Romance, No. 962)',
 'Geisha : A Life',
 'Golden Threads (Lucky in Love No. 14)',
 "Gone to the Dogs (Dog Lover's Mysteries)",
 'Groom For Maggie (Whirlwind Weddings) (Silhouette Romance)',
 'Growing Vegetable Soup (Voyager/Hbj Book)',
 'Hal Hartley (Pocket Essentials)',
 'Hanging Curve (Mickey Rawlings Baseball Mystery)',
 'Hard News',
 'Her Secret His Child (Harlequin Superromance, 836)',
 'His Only Desire (Double Exposure) (Intrigue, 627)',
 'Home Song',
 "Honor's Splendour",
 "How the Irish Saved Civilization: The Untold Story of Ireland's Heroic Role from the Fall of Rome to the Rise of Medieval Europe (Hinges of History, Vol 1)",
 'Humanity: A Moral History of the Twentieth Century',
 'Husband Material (Holding Out For A Hero) (Harlequin Romance, No 3392)',
 'I Love You So Much',
 'I Love You, Ronnie',
 'I Think Im Outta Here : A Memoir',
 'Illuminated Spirit: Conversations With a Kyudo Master',
 'Impetuous',
 'In a Sunburned Country',
 'Ingathering: The Complete People Stories of Zenna Henderson',
 'Inheritance (Western Lovers, 9)',
 'Intercultural Interactions : A Practical Guide (Cross Cultural Research and Methodology)',
 'Introducg C B Greenfld',
 'Introducing Learning and Memory (Introducing (Icon))',
 'Isle of Palms: A Lowcountry Tale',
 "It'S All In The Game (Harlequin Superromance No. 302)",
 'Johnny Cash: An American Legend',
 'Joy Shtick or What is the Existential Vacuum and Does it Come with Attachments',
 'Juniper',
 'Ka: Stories of the Mind and Gods of India',
 'Kiss of the Spider Woman',
 'Know It All!: The Fun Stuff You Never Learned in School',
 'Lady Legend',
 'Language Myths',
 'Leaving Cold Sassy: The Unfinished Sequel to Cold Sassy Tree',
 'Life Is Elsewhere',
 'Light on the Mountain',
 'Little House on the Prairie',
 'Lonely Planet Taiwan (Lonely Planet Taiwan)',
 'Lord Let Me Love',
 'Love to Love You Baby',
 "Love's Labyrinth (Time Passages Romance Series)",
 'Lullaby: A Novel',
 'Made in America',
 'Maine Man  (By The Year 2000: Marriage) (Harlequin Superromance, 822)',
 "Man She'Ll Marry (Cowboy Grooms Wanted!) (Romance, 3648)",
 'Manifesto of the Communist Party',
 'Married In Haste (Intrigue , No 481)',
 'Marry Me, Maddie (Time of Your Life)',
 'Marshmallow worlds',
 'Mastering Public Speaking (with Interactive Companion Website) (4th Edition)',
 'Matters of the heart',
 "McQueen's Heat",
 'Mosaic',
 'Murder Can Cool Off Your Affair: A Desiree Shapiro Mystery (Desiree Shapiro Mysteries (Paperback))',
 'Naked Economics: Undressing the Dismal Science',
 'Neanderthal',
 'Night Fire',
 'Night Visitor (Timeswept)',
 'Nonzero: The Logic of Human Destiny (Vintage)',
 'Notes on the Kitchen Table',
 "Now That You'Re Here (Harlequin Superromance, No 988)",
 'Ogilvy on Advertising',
 'Olympus',
 'On Writing',
 'One World: The Ethics of Globalization',
 'Out Of The Shadows (Love Inspired (Numbered))',
 'POSTMORTEM (Kay Scarpetta Mysteries (Hardcover))',
 'Patient Heal Thyself: A Remarkable Health Program Combining Ancient Wisdom With Groundbreaking Clinical Research',
 'People Skills',
 'Phenomenal Woman: Four Poems Celebrating Women',
 'Plato, Not Prozac! : Applying Eternal Wisdom to Everyday Problems',
 "Portnoy's Complaint",
 'Power Curve',
 'Prentice Alvin (Tales of Alvin Maker, Book 3)',
 'Priceless',
 'Princess Annie',
 'Prodigal Daughter',
 'Race To The Altar (Silhouette Special Edition, No 1397)',
 "Rafael's Love-Child (Harlequin Presents #2160)",
 'Red Prophet Volume II: Volume II of the Tales of Alvin Maker (Tales of Alvin Maker (Paperback))',
 'Robinson Crusoe (Modern Library Classics)',
 "Ruffly Speaking: A Dog Lover's Mystery (Dog Lover's Mysteries)",
 'Runamok: A Novel About the Realities of Small Business',
 "Ruth Park's \\Harp in the South\\ Novels",
 'SABLE MOON',
 'SILVER LININGS : SILVER LININGS',
 'Safekeeping (Women Who Dare) (Harlequin Superromance, No 620)',
 'Sanctuary  (Angel)',
 'Scattering the Ashes (Carnegie Mellon Poetry (Paperback))',
 'Second Chances',
 'Seize the Day (Penguin Modern Classics)',
 'Selected Poems (Dover Thrift Editions)',
 'Selected Short Stories of Sinclair Lewis (Rep)',
 'Servant of the Bones',
 'Set Your Voice Free : Foreword by Dr. Laura Schlesinger',
 'Seventh Son (Tales of Alvin Maker (Paperback))',
 'Silver on the Tree',
 'Simple Passion',
 'Sixth Commandment',
 'Sleeping on the Wing : An Anthology of Modern Poetry with Essays on Reading and Writing',
 'Sociolinguistics: An Introduction to Language and Society',
 'Someone Cares',
 'Song of Eve',
 'Sophocles, The Oedipus Cycle: Oedipus Rex, Oedipus at Colonus, Antigone',
 'Source Book for Teaching English as a Second Language',
 'Speaking With the Angel',
 'Speaks the Nightbird, Volume I : Judgment of the Witch',
 'Spirit Warrior (Harlequin Intrigue, No 246)',
 'Spirit Writing',
 'Spring Fancy',
 'Star Beast',
 'Stargazing: Memoirs of a Young Lighthouse Keeper',
 'Startling Moon',
 'Stealing Shadows (Shadows Trilogy (Paperback))',
 "Stephen King's Danse Macabre",
 'Stop! the Watch: A Book of Everyday, Ordinary, Anybody Olympics',
 'Strength Training Past 50 (Ageless Athlete Series)',
 'Stuck on You (Avon Romance)',
 'Success With Soul: New Insights to Achieving Success With Real Meaning',
 'Sun, Moon, &amp; Earth',
 'Surrender',
 'Surrender to Love (Avon Historical Romance)',
 'Survival Kit for Overseas Living: For Americans Planning to Live and Work Abroad',
 'Suspicion of Madness',
 'Swan River',
 'Sweet Dreams, Irene : An Irene Kelly Novel',
 'Sweet Love Survive',
 'Switch',
 "Tess of the d'Urbervilles",
 'Tested Advertising Methods (Prentice Hall Business Classics)',
 "The Admiral's Bride (Silhouette Intimate Moments, 962)",
 'The Apprentice',
 'The Art of Fiction: Notes on Craft for Young Writers',
 'The Articulate Mammal: An Introduction to Psycholinguistics',
 "The Atoms of Language: The Mind's Hidden Rules of Grammar",
 'The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man',
 'The Beloved Scoundrel',
 'The Birds (Bfi Film Classics)',
 'The Blank Slate: The Modern Denial of Human Nature',
 'The Body in the Bog',
 'The Bug',
 'The Clinic',
 "The Contrarian's Guide to Leadership",
 'The Copper Beech',
 'The Crying Child',
 'The Crying of Lot 49',
 'The Dark Druid',
 'The Deepest Edge',
 'The Dream of Scipio',
 'The Empty Chair',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
 'The Future of the Book',
 'The Good Marriage : How &amp; Why Love Lasts',
 'The Granta Book of the American Short Story',
 'The Grey King',
 'The Harmony Illustrated Encyclopedia of Country Music',
 'The Hazards of Being Male: Surviving the Myth of Masculine Privilege',
 'The Hot Zone',
 'The Hunt for Red October (Jack Ryan Novels)',
 'The Introvert Advantage: How to Thrive in an Extrovert World',
 'The KGB Bar Reader',
 'The Knight in Rusty Armor',
 "The Knight's Kiss",
 'The Littles to the Rescue (Littles)',
 'The Mozart Season',
 'The Myth of the First Three Years : A New Understanding of Early Brain Development and Lifelong Learning',
 'The Name of the Rose: including Postscript to the Name of the Rose',
 'The New Baby',
 'The Next President',
 'The Night the Stars Fell',
 'The Oath',
 'The Presentation of Self in Everyday Life',
 'The Quest (Sonnet Books)',
 'The Relic',
 'The Seven Sins of Memory: How the Mind Forgets and Remembers',
 'The Seven Storey Mountain: Fiftieth-Anniversary Edition',
 'The Seventh Night',
 'The Sherbrooke Bride (Bride Trilogy (Paperback))',
 'The Silence of the Rain: An Inspector Espinosa Mystery',
 'The Silver Sun',
 'The Te of Piglet',
 'The Tommyknockers',
 'The Undergroundtrader.com Guide to Electronic Trading',
 'The Very Persistent Gappers of Frip',
 'The Volcano Machine (Dino-Riders)',
 'The Wedding Guide for the Grownup Bride',
 "The World's Shortest Stories of Love and Death: Passion, Betrayal, Suspicion, Revenge, All This and More in a New Collection of Amazing Short Stories-Each One Just 55 Words Long",
 'The fisher child',
 "There Goes the Bride  (Kane's Crossing)",
 'Think to Win: The Power of Logic in Everyday Life',
 'Thinking from A to Z',
 'Thomas Gray: Philosopher Cat',
 'Three Men Who Walked in Fire: Daniel 3 (Arch Books: Set 4)',
 'Ties That Bind (A Family Bond) (Silhouette Special Edition, No 1395)',
 'Touching Evil',
 "Touching the Void: The True Story of One Man's Miraculous Survival",
 'Tough Cookie',
 'Travels around America',
 'Trouble At Lone Spur  (Home On The Ranch) (Harlequin Superromance, No 716)',
 "Tuiavii's way: A south sea chief's comments on western society",
 'Undercover Wife  (The Specialists)',
 'Unfit to Practice',
 'Unfriendly Proposition (Harlequin Romance, No 3095)',
 'Until Dark',
 'Uplift : Secrets from the Sisterhood of Breast Cancer Survivors',
 'Vertical Coffin : A Shane Scully Novel (Cannell, Stephen J)',
 'Viking (Harlequin Historical, No 200)',
 'Want Ad (Superromance , No 795)',
 'Ways of Seeing',
 "We're in the Mountains, Not over the Hill: Tales and Tips from Seasoned Women Backpackers",
 'Westmark',
 "What's Your Pleasure?  (Heat) (Harlequin Temptation, No. 884)",
 'When I Grow Up (Little Look-Look)',
 'When Things Fall Apart : Heart Advice for Difficult Times (Shambhala Classics)',
 'Whispers on the Wind (Futuristic Romance)',
 'Who Gets to Marry Max? (Harlequin American Romance, No. 843)',
 'Who Will Take This Man?',
 'Wildest Hearts',
 'Wire Mesh Mothers',
 'Wise Child',
 'Without: Poems',
 'Women in Love',
 'Wrong Bride  (By The Year 2000:  Revenge) (Harlequin Superromance, 830)',
 'Yesterday I Cried : Celebrating The Lessons Of Living And Loving',
 'You Again (Showcase) (Harlequin Superromance, No 698)',
 'Your Money or Your Life: Transforming Your Relationship With Money and Achieving Financial Independence',
 'Zen: A Way of Life (Teach Yourself Books)',
 "\\I Won't Learn from You\\: And Other Thoughts on Creative Maladjustment"}